<div class="main">

  <table [class.apartments-table]="true">
    <thead>
    <tr>
      <th *ngFor="let field of fields">{{field.name}}</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let apartment of (apartments$|async)">
      <td *ngFor="let field of fields">{{apartment[field.field]}}</td>
      <td (click)="setApartment(apartment)">OPEN</td>
    </tr>
    </tbody>
  </table>

  <!--  <ul *ngIf="(addresses$ | async) && !(address$|async)">-->
  <!--    <li *ngFor="let address of (addresses$ | async)">-->
  <!--      <a href="#" (click)="getApartment(address)">{{address}}</a>-->
  <!--    </li>-->
  <!--  </ul>-->
  <!--  <div class="apartment-selected" (click)="resetApartment()" *ngIf="!!(address$|async)">-->
  <!--    <div class="title">-->
  <!--      {{address$ | async}}-->
  <!--    </div>-->

  <!--  </div>-->

</div>

