@import "../variables";

.main {
  position: absolute;
  top: $base-spacing;
  bottom: $base-spacing;
  left: $base-spacing;
  right: $base-spacing;
  padding: $base-spacing;
  border: $base-border-full;

  display: flex;



  &.cities {

  }

  .cities,
  .areas,
  .apartments,
  .apartment-info {
    flex: 1 0 32px;
    position: relative;
    margin: $base-spacing;
    padding: $base-spacing;
    border: $base-border-full;
  }


}
